@font-face {
    font-family: "Oswald";
    src: url('./fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Open Sans Italic";
    src: url('./fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: "Open Sans";
    src: url('./fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}


h1{
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 1.1;
    color: #f1c50e !important;
    font-family: Oswald, sans-serif;
}
p{
    font-family: 'Open Sans Italic';
}
a{
    font-family: 'Open Sans';
    border-bottom: #f1c50e 2.5px solid;
    padding-bottom: 3px;
}



@media (min-width: 1024px) {
    .container{
        margin: 100px;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 45% 45%;
        gap: 0px 5%;
    }
}

@media (max-width: 1024px) {
    .container{
        margin: 80px;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 45% 45%;
        gap: 0px 5%;
    }
}

@media (max-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 35% 35% 35%;
        gap: 0px 10%;
        margin: 50px;
    }
}

@media (max-width: 425px) {
    .container{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 35% 35% 35%;
        gap: 0px 10%;
        margin: 30px;
    }
}

@media (max-width: 320px) {
    .container{
        display: grid;
        margin: 10px;
        grid-template-columns: 45% 45%;
        grid-template-rows: 35% 35% 35%;
        gap: 0px 10%;
    }
}